<div class="dis-table">
  <h1>Storage</h1>
  <div class="protable-function-bar">
    <button mat-flat-button (click)="openDialog('0ms', '0ms')">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
      New Product
    </button>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="Location">
        <th mat-header-cell *matHeaderCellDef> Location </th>
        <td mat-cell *matCellDef="let element"> {{element.location}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="Platform">
        <th mat-header-cell *matHeaderCellDef> Platform </th>
        <td mat-cell *matCellDef="let element"> {{element.platform}} </td>
      </ng-container>

      <ng-container matColumnDef="Stock">
        <th mat-header-cell *matHeaderCellDef> Stock </th>
        <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
      </ng-container>
      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="More info">
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of storage">
    </mat-paginator>
  </div>
</div>

